.IndexPanel {
    display: flex;
    width: 100%;
    height: 100vh;
}

/* 文件說明區域 */
.IllustrateGroup {
    width: 30%;
    border-right: 0.5px solid rgb(212, 195, 195);
}

/* 首頁的圖片區域格式 */
.WellcomeMyHome {
    width: 70%;
    background-color: rgb(234, 245, 248);
    display: flex;
    justify-content: center;
    padding-top: 50px;
    overflow-y: scroll;
}

.HoverImgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 1200px;
    height: 350px;
}

@media (max-width: 1280px) {
    .HoverImgs {
        width: 800px;
        height: 350px;
    }
}

.HoverImg {
    position: relative;
    width: 180px;
    height: 120px;
    line-height: 120px;
    background: white;
    cursor: pointer;
    margin: 0 10px;
    text-align: center;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    user-select: none;
}

#swal2-html-container{
    color: rgb(2, 2, 26);
    font-weight: 500;
    font-size: 22px;
}