.IndexPanel {
    display: flex;
    width: 100%;
    height: 100vh;
}

/* 文件說明區域 */
.IllustrateGroup {
    width: 50%;
    overflow: hidden;
    border: 0.5px solid rgb(212, 195, 195);
}

/* 首頁的圖片區域格式 */
.WellcomeMyHome {
    width: 50%;
    background-color: rgb(234, 245, 248);
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    padding: 1% 2%;
}

.HoverImg {
    position: relative;
    width: 180px;
    height: 120px;
    background: white;
    flex-wrap: wrap;
    cursor: pointer;
    margin: 5px;
}
