.Clouds {
    position: fixed;
}

.Cloud {
    width: 100px;
    height: 40px;
    background: linear-gradient(to bottom, gray, rgb(131, 124, 124));
    border: 0.1px solid rgb(89, 93, 163);
    border-top: none;
    border-bottom: 0.1px solid rgb(106, 109, 153, 0.7);
    border-radius: 40px;
    animation: cloudFloating 2s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
    z-index: 999;
    opacity: 0.95;
}

.Cloud::after {
    content: "";
    position: absolute;
    top: -15px;
    left: 45px;
    width: 45px;
    height: 30px;
    background: linear-gradient(to bottom, gray, rgb(131, 124, 124, 0.9));
    border-radius: 50%;
    z-index: 1;
    border: none;
}

.Cloud::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 15px;
    width: 45px;
    height: 45px;
    background: linear-gradient(to bottom, gray, rgb(131, 124, 124));
    overflow: 0.7;
    border-radius: 50%;
    border: none;
    z-index: -1;
}

@keyframes cloudFloating {
    0% {
        transform: translateX(-2px);
    }
    50% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-2px);
    }
}
