.Cloud {
    width: 100px;
    height: 40px;
    background-color: rgb(216, 243, 241);
    border: 3 solid #ccc;
    border-radius: 40px;
    position: absolute;
    margin-top: 5%;
    left: 1%;
    animation-delay: -2s;
    animation: cloudFloating1 8s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.Cloud::after {
    content: "";
    position: absolute;
    top: -15px;
    left: 45px;
    width: 45px;
    height: 30px;
    background-color: rgb(216, 243, 241);
    border: 3 solid #ccc;
    border-radius: 50%;
    z-index: -1;
    animation: cloudFloating2 2.5s cubic-bezier(0.55, 0.5, 0.45) infinite;
}

.Cloud::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 15px;
    width: 45px;
    height: 45px;
    background-color: rgb(216, 243, 241);
    border: 3 solid #ccc;
    border-radius: 50%;
    z-index: -1;
    animation-delay: -1s;
    animation: cloudFloating3 2.5s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

@keyframes cloudFloating1 {
    0% {
        transform: translate3d(7px, 0, 0);
    }
    50% {
        transform: translate3d(0px, 0, 0);
    }
    100% {
        transform: translate3d(7px, 0, 0);
    }
}

@keyframes cloudFloating2 {
    0% {
        transform: translate3d(0, 3px, 0);
    }
    50% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(0, 3px, 0);
    }
}

@keyframes cloudFloating3 {
    0% {
        transform: translate3d(0, -1px, 0);
    }
    50% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(0, -1px, 0);
    }
}
